<div class="container mt-5">
  <div class="card shadow">
    <div class="card-header bg-primary text-white">
      <h1 class="card-title"><%= @workout_session.title %></h1>
    </div>
    <div class="card-body">
      <p class="card-text"><%= @workout_session.desc %></p>
      <p class="card-text"><strong>Price:</strong> $<%= @workout_session.price %></p>
      <p class="card-text"><strong>Location:</strong> <%= @workout_session.location %></p>
      <p class="card-text"><strong>Duration:</strong> <%= @workout_session.duration %> hours</p>
      <% if user_signed_in? && current_user.role == "trainee" %>
        <div class="mt-4">
          <%= link_to "Book Now", new_workout_session_booking_path(@workout_session), class: "btn btn-success btn-lg" %>
        </div>
      <% end %>
      <div class="mt-3 d-flex justify-content-between">
        <%= link_to "Back to Workout Sessions", workout_sessions_path, class: "btn btn-secondary" %>
        <% if user_signed_in? %>
          <%= link_to "Book Now!", new_workout_session_booking_path(@workout_session), class: "btn btn-success" %>
        <% else %>
          <%= link_to "Sign in to Book Now!", new_user_session_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
